@import url('https://fonts.googleapis.com/css?family=Galada|UnifrakturMaguntia&display=swap');
.overlay{
    background-color:lavender;
    border-radius: 5px;
    margin-top:4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 5%;
  }
 
  #card-body{
    background: rgba(2,29,61,1);
    border: 2px rgba(2,29,61,1) solid !important;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5) !important;
    transition: all .6s ease-in-out;  
}
#repo-card{
  background-color:azure;
  margin: 15px;
  margin-top: 20px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: all .5s ease-in-out;
  
}

.repo{
  font-family: 'Lustria', serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  
}
