@import url('https://fonts.googleapis.com/css?family=Galada|UnifrakturMaguntia&display=swap');
.overlay{
    background-color:lavender;
    border-radius: 5px;
    margin-top:4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 5%;
  }
 
h2{
  margin-top: 30px;
  font-family: 'UnifrakturMaguntia', cursive;
  color: blanchedalmond;
}

#repo{
font-family: 'Lustria', serif;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

#repo-card{
  font-size: medium;
  background-color:lavender;
  margin: 10px;
  margin-top: 18px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all .5s ease-in-out;
  
}


#repo-card:hover{
  background-color: rgb(207, 239, 241);
  color: darkslategrey;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}

h5{
  text-transform: uppercase;
}

#h5:hover{
  text-decoration: underline;
  
}
section{
  margin-top: 2%;
}