<div class="container-fluid ">
<app-user-form (searchOutput)= "getRepo($event)"></app-user-form>
<section>
  <h1 class="text-center">Public Repositories</h1>
  <div class="over">
  <div class="container" id="repo">
    <div class="row">
    <div class="card" *ngFor="let repos of userRepo" style="width: 22rem;" class="repo">
      <div class="card-body" id="repo-card">
        <h5 class="card-title" id="h5">Name: {{repos.name}}</h5>
        <p class="card-text">Desc: {{repos.description}}</p>
        <p class="card-text">Language: {{repos.language}}</p>
        <p class="card-text text-muted"> <i><i> Created {{repos.created_at | date}} </i></i></p>
      </div>
      <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Third group">
            <button class="btn btn-md btn-default" id="visit"><a href="{{repos.html_url}}"
                    class="card-link">View on Github &nbsp; <i class="fa fa-arrow-circle-right"
                        style="font-size:16px"></i></a> </button>
        </div>
    </div>
    </div>
  </div>
  </div>
  </div>
</section>



   