@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";

body {
    overflow-x: hidden;
}
span{
    margin-left:3% ;
}
#img{
    margin-top:3%;
    border-image-width: inherit;
    shape-image-threshold: initial;
}
#gitname{
    font-size: larger;
    text-align: center;
    color: white;
    margin: 10%;
}
body{
    background-color: darkslategray;
    backface-visibility: visible;
}
.card{
    background-color:auto;

}

.col-sm-4{
    float:right;
}
.card-body{

    color: darkslategray;
    text-decoration: darkslategray;
    
}
.overlay{
    background-color:darkslategray;
    border-radius: 5px;
    margin-top:4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 5%;
  }
  .over{
    background-color:ghostwhite;
    border-radius: auto;
    margin-top:4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 4%;
  }
  nav{
      float: left;
      margin-left: 65%;
  }
  .navbar-brand{
      text-decoration: underline;
      color: teal;
  }
  .col-sm-2{
    border-left: 3px solid lavender;
    height: auto;
  }
h2{
    margin-top: 30px;
    font-family: 'UnifrakturMaguntia', cursive;
    color: blanchedalmond;
}
.repo{
  font-family: 'Lustria', serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#repo-card{
    background-color:lavender;
    margin: 2%;
    box-sizing: border-box;
    padding-left: 15%;
    margin-top: 10%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all .5s ease-in-out;
}
#repo-card:hover{
    background-color: rgb(207, 239, 241);
    color: darkslategrey;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
}
h5,h1{
    text-transform: uppercase;
}
#h5:hover{
    text-decoration: underline;
    
}
hr{
    border-top: 1px dashed black;
}